*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", Arial, sans-serif;
}

.header{
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
    height: 100px;
}
.footer{
    background-color: #4CAF50;
    padding: 40px;
    text-align: center;
    justify-content: center;
    font-size: 1rem;
    width: 100%;
}

.Title{
    font-size: 3rem;
    font-weight: bold;
    margin-right: 20px;    
    justify-self: left;
    position:absolute;
    left:20px;
    padding: 10px;
}
.headings{
    font-size: 2rem;
    font-weight: bold;
    margin: 20px;    
    justify-self: center;
    padding: 10px;
}
.label{
    font-weight: bold;
    font-size: 1.2rem;
    margin:5px;
    border-left: #000000 2px solid;
}

.header-links{
    margin: 10px 10px;
    padding: 10px;
    justify-self: right;
    font-size: 1.5rem;
    gap: 15px;    
}
.links{
    margin: 0 10px;
    text-decoration: none;
    padding: 10px;
    color: rgb(249, 249, 249);
}
.links:hover{
    text-decoration: underline;
    color: #0a1a1f;
    cursor: pointer;
}
.content{
    border: #000000 10px solid;

}

.card{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin: 10px 0;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}
.submit-row{
    margin-top: 10px;
}

.select-box{
    padding: 10px;
    padding-left: 5px;
    width: fit-content;
    font-size: 1rem;
    text-align: center;
    border-radius: 5px;
    margin: 10px;
}

.left-coloumn{
    flex: 1;
    margin-right: 20px;
}

.approve-btn{
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
.reject-btn{
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
.button{
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.logout-btn{
    background-color: #555555;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    top: 10px;
    right: 10px;
}

.dashboard{
    padding: 2px;
}

.dashboard-content{
    display: flex;
    gap: 15px;
    margin-top: 20px;
}
.field-sections{
    margin: 20px;
    border-radius: 5px;
    padding: 10px;
}
.announcements-container{
    display: flex;
}

.announcements-container ul{
    font-size: 1rem;
}

.login-page{
    background:white;
  padding:25px;
  border-radius:10px;
  box-shadow:0 2px 8px black;
  width:100%;
  max-width:900px;
  margin:40px auto;
  text-align:center;
}

.announcer{
    background:white;
  padding:15px;
  border-radius:10px;
  box-shadow:0 2px 8px black;
  width:100%;
  max-width: 400px;
  margin:20px;
  text-align:center;
}
.input-box{
    margin: 10px;
    padding: 10px;
    margin-bottom: 15px;
    width: 90%;
    font-size: 1rem;
    border-radius: 5px;
    text-align: center;
    height: fit-content;
}

.aside{
    background-color: #f4f4f4;
    padding: 15px;
    margin-top: 20px;
}

.profile-card{
    align-items: center;
}

.avatar{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.info-list{
    padding: 0;
}

.info-item{
    margin: 5px 0;
}

.student-leave-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.teacher-availability{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    width: 80%;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}
.availability-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.availability-options{
    margin: 10px 0;
    padding: 10px;
    width: 300px;
    font-size: 1rem;
}

.Student-leave-mangement{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    width: 80%;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

.schedule-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    position:sticky;
    background-color: rgb(255, 255, 255);
    border: #000000 2px solid;
    border-radius: 10px;
    padding: 15px;
}
.schedule-table{
    border-collapse: collapse;
    width: 100%;
    max-width: 600px;
    margin-top: 10px;
    padding: 10px;
}
.table-time{
    background-color: #67e66d;
    font-weight: bold;
    font-size: 1.2rem;
    border: 2px solid #ffffff;
    min-width: 90px ;
    max-width: 90px ;
    height: auto;
    padding: 5px;
    border-radius: 15px;
    box-shadow: #000000 2px 2px 5px rgb(0, 0, 0);
    
}
.table-row{
    min-width: 90px ;
    max-width: 90px ;
    height: auto;
}
.timetable-section{
    left:20%;
    top:15%;
    position: absolute;
}

.subject-cell{
    padding: 10px;
    border: 1px solid #ffffff;
    text-align: center;
    background-color: #555555;
    border-radius: 15px;
    
}
.Day-label{
    font-weight: bold;
}


.subject-code{
    font-weight: bold;
    padding: 5px;
    border-bottom: #000000 2px solid;
    margin-bottom: 5px;
}

.Teacher-name{
    border-top: #000000 2px solid;
    font-style: italic;
    margin-top: 5px;
    padding-top:5px;
}

.leave-box{
    margin: 10px 0;
    padding: 10px;
    width: 300px;
    font-size: 1rem;
}

.register-page{
    background:white;
  padding:25px;
  border-radius:10px;
  box-shadow:0 2px 8px black;
  width:100%;
  max-width:900px;
  margin:40px auto;
  text-align:center;
}

.submiit-leave{
    margin-top: 10px;
}

.leave-status{
    margin-top: 10px;
}
